@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');

.App {
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  /* margin-top: 20px; */
}

.header {
  padding: 10px;
  text-align: center;
  font-family: 'Manrope', sans-serif;
  /* background: #ad3ce1; */
  color: white;
  margin-top: 0px;
  margin-bottom: 10px;

  overflow: auto;
  top: 0;
  z-index: 1;
  position:fixed;
}

input{
  height: 30px;
  width: 300px;
}

button{
  height: 35px;
  width: 125px;
}

.glow {
  font-size: 70px;
  color: #ffffff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
@keyframes glow {
  from {
    text-shadow: 0 0 10px #eeeeee, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 
                 0 0 50px #9554b3, 0 0 60px #9554b3, 0 0 70px #9554b3;
  }
  to {
    text-shadow: 0 0 20px #eeeeee, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6,
                 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

#id2{
  text-align: center;
  height: 20px;
  width: 50px;
  font-size: 12px;
}

#id1{
  /* width: auto; */
  border: 1px solid white;
  height: 20px;
}

.border{
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.bottom-part{
  padding-top: 40vh;
}

